@model CollegeManagementSystem.Models.TeacherModuleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TeacherModuleViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModuleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModuleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditHours)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
